{% block text_autocomplete_widget -%}
  {% spaceless %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control mc-autocomplete')|trim}) %}
    <select {{ block('widget_attributes') }} data-url="{{ route }}" >
      {% if value_id %}
        <option value="{{ value_id }}" selected="selected">{{ value_label }}</option>
      {% endif %}
    </select>
  {% endspaceless %}
{%- endblock text_autocomplete_widget %}
